core/settings.py
__pycache__
/env
*.sqlite3
migrations/
/ignore
*.vscode
*.log
*.pot
*.pyc
db.sqlite3-journal
.env
/media
/joomla4
/graficas
concejo/Digesto
# Logs
logs
*.log
/static
joomla4.zip
/graficas
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

concejo.zip
concejo/media/ 
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
