{% load static %}
<footer class="justify-content-around mx-0 bg-dark d-flex p-4 ">
    <div class="row pt-3">

        <div class="col mt-4 d-none d-sm-block">
            <img src="{% static '/img/logo_escudo.png' %}" alt="Logo Municipalidad El Bolsón" width="120">
        </div>

        <div class="col text-white my-4 mx-5 ">
            <h5><span>TELÉFONOS DE EMERGENCIA</span></h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2 text-secondary"><strong>911</strong> | Emergencias</li>
                <li class="nav-item mb-2 text-secondary"><strong>100</strong> | Bomberos</li>
                <li class="nav-item mb-2 text-secondary"><strong>103</strong> | Incendios forestales</li>
                <li class="nav-item mb-2 text-secondary"><strong>107</strong> | Hospital</li>
                <li class="nav-item mb-2 text-secondary"><strong>135</strong> | Gendarmería Nacional</li>
            </ul>
        </div>

        <div class="col text-white my-5 mx-5">
            <h5>SEGUINOS EN LAS REDES</h5>
                <a href="https://www.facebook.com/MunicipalidadElBolson" class="text-secondary fs-4 px-3" title="Facebook" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/municipalidadelbolson/" class="text-secondary fs-4 px-3" title="Instagram" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
        </div>


        


    </div>

</footer>

