<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GHL08J5CD0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GHL08J5CD0');
</script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<style>
.gradient-background {
  background: linear-gradient(to right, #c3ff0f, #ffffff, #ffffff, #c3ff0f);
  width: 100%;

}

.g-social a {
            font-size: 30px;
            padding-top: 30px; 
            color: white;
        }
p {
  text-decoration: none;
}
    .accordion {
                     border-radius: 24px; 
     border: 0;
}
 .card {
                border-radius: 20px; }
        .card-mine {
                border-radius: 20px; 
                width: 100%;
                height: 100%;
                transition: background-color 0.3s, color 0.3s; /* Smooth transition */
        }
        .card-mine:hover {
            background-color: #007bff; /* Primary color */
            color: white; /* Text color */
        }
 .card-mine:hover i {
            color: white; /* Icon color */
        }
        .card-mine i {
            font-size: 5em;
            transition: color 0.3s; 
           color: #007bff;
        }
         </style>

        <!-- title -->

<div class="py-5 px-md-5 text-center m-0">
  <h1 class="py-5 px-md-5 fw-bolder"><strong>DIRECCIÓN DE TRANSPORTE</strong></h1>
  </div>

          <!-- categorias -->
            <h2 class="text-center fw-light">GUÍA DE TRÁMITES</h2>
            <div class="container">
            <div class="row py-4 justify-content-center align-items-center"> 
                <div class="col-md-2 my-3 d-flex text-center"> 
                    <a href="#" class="text-decoration-none" id="pasajerosButton">
                        <div class="card card-mine shadow border-0 p-md-3  h-100 d-flex flex-column justify-content-center" >
                        <i class="bi bi-people-fill mx-4"></i>
                        <p class="fw-medium text-decoration-none">TRANSPORTE DE PASAJEROS</p>
                    </div></a>
                </div>
                <div class="col-md-2 my-3 d-flex text-center"> 
                    <a href="#" class="text-decoration-none"  id="cargasButton">
                        <div class="card card-mine shadow border-0 p-md-3  h-100 d-flex flex-column justify-content-center">
                        <i class="bi bi-train-freight-front mx-4"></i>
                        <p class="fw-medium text-decoration-none">CARGAS GENERALES</p>
                    </div></a>
                </div>
                <div class="col-md-2 my-3 d-flex text-center"> 
                    <a href="#" class="text-decoration-none"  id="pesadoButton">
                        <div class="card card-mine shadow border-0 p-md-3  h-100 d-flex flex-column justify-content-center"  >
                        <i class="bi bi-truck-front-fill mx-4"></i>
                        <p class="fw-medium text-decoration-none">PESADOS Y ÁRIDOS</p>
                    </div></a>
                </div>
                <div class="col-md-2 my-3 d-flex text-center"> 
                    <a href="#" class="text-decoration-none"  id="panButton" >
                        <div class="card card-mine shadow border-0 p-md-3  h-100 d-flex flex-column justify-content-center" >
                        <i class="bi bi-shop-window mx-4"></i>
                        <p class="fw-medium text-decoration-none">SUSTANCIAS Y PANIFICADOS</p>
                    </div></a>
                </div>
                <div class="col-md-2 my-3 d-flex text-center"> 
                    <a href="#" class="text-decoration-none"   id="deliveryButton">

                    <div class="card card-mine shadow border-0 p-md-3  h-100 d-flex flex-column justify-content-center" >
                        <i class="bi bi-bicycle mx-4"></i>
                        <p class="fw-medium text-decoration-none">DELIVERY Y LOGÍSTICA</p>
                    </div></a>
                </div>
                <div class="col-md-2 my-3 d-flex text-center"> 
                    <a href="#" class="text-decoration-none"  id="rentButton">

                    <div class="card card-mine shadow border-0 p-md-3  h-100 d-flex flex-column justify-content-center" >
                        <i class="bi bi-car-front-fill mx-4"></i>
                        <p class="fw-medium text-decoration-none">RENT A CAR</p>
                    </div></a>
                </div>
            </div>
            </div>

    <!-- detalle cat -->
    <div id="pasajeros" class="my-3">               
        <div class="card  shadow border-0 p-2 p-md-5 mb-3 py-3 my-5">
            <i class="bi bi-people-fill text-primary fs-1"></i>
            <span class="fw-medium text-decoration-none text-primary">TRANSPORTE DE PASAJEROS</span>
            <h5>Habilitación Comercial</h5>

            <div class="accordion mt-3 border-0" id="accordionExample">

                <div class="accordion-item w-100 py-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="white-space: normal;">
                        <strong>TAXI Y REMIS</strong></button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="ms-3">
                                <h4>Documentación Necesaria</h4>
                                <h5>(original y fotocopias)</h5>
                                
                                <div class="ms-3 mt-3">
                                    <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Inscripción Ingresos Brutos o Documento Multilateral</p>
                                    <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Constancia de Inscripción AFIP</p>
                                    <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Título del vehículo a nombre del Habilitante</p>
                                    <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Tarjeta verde</p>
                                    <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i>  Últimos 2 recibos de pagos de Patente</p>
                                    <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i>  Póliza de Seguro + Recibo de Seguro al día</p>
                                    <p > <i class="bi bi-check2 fs-4 text-primary me-2" ></i>Revisión Técnica Obligatoria ( SE REALIZA EN  BARILOCHE TÉCNICA SUR ) - RETIRAR PLANILLA EN NUESTRA OFICINA</p>
                                    <p > <i class="bi bi-check2 fs-4 text-primary me-2" ></i>Libre de Infracción (original)</p>
                                </div>  
                            </div>  
                            <div class="ms-3">
                                <p class="fw-bold"> Requisitos del Vehículo</p>
                                <div class="ms-3">
            
                                    <p  ><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Año: 2016 en adelante</p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>  EL VEHÍCULO NO DEBE ESTAR POLARIZADO </p>
                                    
                                </div> 
                                
                            </div>
                            <div class="ms-3">
                                <p class="fw-bold"> Choferes</p>
            
                                <div class="ms-3">
            
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>Licencia de conducir (M.E.B.  CAT. D1 )            
                                    </p>
                                    
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Autorización de manejo o Tarjeta Azul </p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i> DNI </p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Libre de Infracción (original) </p>
                                </div>  
                            </div>                            
                            <div class="ms-3">
                                <p class="fw-bold"> Elementos de Seguridad</p>
                                <div class="ms-3">
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>BOTIQUÍN</p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>MATAFUEGOS</p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>BALIZAS PORTÁTILES</p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>CHALECO REFLECTARIO</p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>CINTURONES  DE SEGURIDAD</p>
                                </div>  
                            </div>  
                            <div class="ms-3">
                                <p class="fw-bold"> Inspección</p>
                                <div class="ms-3">
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>Horario: 08:30 A 12 HS</p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>Se realiza cada 6 meses.</p>
                                </div>  
                            </div> 
                            <div class="ms-3">
                                <p class="fw-bold"> MÁS INFO</p>
                                <div class="ms-3">
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>La habilitación comercial de taxi o remis se puede pagar en 2 cuotas con interés</p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>Para la Transferencia de la habilitación comercial, solicitar el Libre de Deuda en Hacienda</p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>Todos los meses se debe pagar Tasas por Seguridad e Higiene
                                    </p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Por trámite de habilitación comercial o transferencia, la documentación debe ser presentada en el momento que se realiza la compra de la misma.
                                    </p>
                                    <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Todos los datos de ingresos brutos, AFIP y título del vehículo deben ser de la misma empresa o la misma persona física.</p>
                                </div>  
                            </div>   
                        </div>                    
                    </div>  
                </div>

                <div class="accordion-item w-100 py-3">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="white-space: normal;">
                        <strong>VIAJES ESPECIALES Y TURISMO</strong>
                    </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            
                            TRAER  TODO  LA DOCUMENTACION  REQUERIDA  ORIGINAL  Y  FOTOCOPIAS.

                            INSCRIPCION  INGRESOS BRUTOS O CONVENIO MULTILATERAL
                            CONSTANCIA DE INSCRIPCÌON AFIP. 
                            TITULO DEL VEHICULO A NOMBRE DEL HABILITANTE
                            TARJETA VERDE DEL VEHICULO
                            AÑO:2016   EN ADELANTE 
                            POLIZA DEL SEGURO
                            RECIBO SEGURO AL DIA
                            ULTIMO 2 RECIBO DE PAGOS DE PATENTE -- 
                            REVISIÓN  TÉCNICA  OBLIGATORIA        -( SE REALIZA  EN  BARILOCHE  TECNICA  SUR )  -RETIRAR  PLANILLA EN LA OFICINA DE TRANSPORTE  SIN COSTO
                            LIBRE DE INFRACCION (JUZGADO DE FALTAS) – PERITO MORENO Nº 3560 “TIENE QUE SER ORIGINAL”

                            (TODOS LOS DATOS DE INGRESOS BRUTOS, AFIP, TITULO DEL VEHICULO DEBEN SER DE LA MISMA EMPRESA O MISMA PERSONA FISICA)


                            PARA LOS CHOFERES

                            AUTORIZACION DE MANEJO O TARJETA AZUL
                            D.N.I. 
                            LICENCIA DE CONDUCIR  DE  M.E.B.   
                            Libre de Infracción (JUZGADO DE FALTAS) – “TIENE QUE SER ORIGINAL”


                                                        ELEMENTOS DE SEGURIDAD.   (Inspección cada 6 meses- $ Sin costo )

                            BOTIQUIN 
                            MATAFUEGOS
                            BALIZAS PORTATILES 
                            CHALECO REFLECTARIO
                            CINTURONES  DE SEGURIDAD
                            COSTO DE LA HC


                            HABILITACION COMERCIAL  $1.400.000    ( 2 CUOTAS CON  INTERES )
                            TRANSFERENCIA   HC-               $ 210.00  ( SOLICITAR  EL LIBRE DE DEUDA EN HACIENDA  M.E.B
                            DESPUES SE PAGAR  TODOS LOS  MESES TAZA DE SEGURIDAD Y HIGIENE 

                            OBSERVACIONES: POR TRAMITE DE HABILITACION COMERCIAL O TRANSFERENCIA LA DOCUMENTACION DEBE SER PRSENTADA EN EL MOMENTO QUE SE REALIZA LA COMPRA DE LA MISMA 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

  

    <div id="cargas" class="my-3">               
        <div class="card  shadow border-0 p-2 p-md-5 mb-3 py-3 my-5">
            <i class="bi bi-train-freight-front-fill text-primary fs-1"></i>
            <span class="fw-medium text-decoration-none text-primary">CARGAS GENERALES</span>
            <h5>Habilitación Comercial</h5>
            <div class="ms-3 mt-3">
                <div class="ms-3">
                    <p class="fw-bold"> Documentación Necesaria (original y fotocopias)</p>
                    <div class="ms-3">
                        
                        <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Contrato  (si corresponde, por ejemplo SRL, SAS, SA)                 
                        </p>
                        <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Inscripción a AFIP e Ingresos Brutos </p>
                        <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Título del vehículo y Tarjeta Verde</p>
                        <p ><i class="bi bi-check2 fs-4 text-primary me-2" ></i>  Póliza de Seguro + último Recibo de Pago</p>
                        <p > <i class="bi bi-check2 fs-4 text-primary me-2" ></i>Revisión Técnica Obligatoria</p>

                    </div>  
                </div>
                <div class="ms-3">
                    <p class="fw-bold"> Requisitos del Vehículo</p>
                    <div class="ms-3">

                        <p  ><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Año: 2012 en adelante</p>
                        <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Modelos para Paquetería: BERLINGO,  PARTNER, KANGOO, FIORINO </p>
                        
                    </div> 
                    
                </div>

                <div class="ms-3">
                    <p class="fw-bold"> Choferes</p>

                    <div class="ms-3">

                        <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>Licencia de conducir                        
                        </p>
                        <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Autorización de manejo (Tarjeta Azul o listado de la empresa) </p>
                        <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i> DNI (domicilio en El Bolsón, Lago Puelo, El Hoyo)</p>
                        <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i> Libre de Infracción (original) </p>
                    </div>  
                </div>  


                <div class="ms-3">
                     <p class="fw-bold"> Inspección</p>
                     <div class="ms-3">

                        <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>Horario: 08:30 A 12 HS</p>
                        <p><i class="bi bi-check2 fs-4 text-primary me-2" ></i>Valor: $4200</p>
                     </div>  

                    </div>  
                </div>  
        </div>
    </div>


    <div id="pesado" class="my-3">               
        <div class="card  shadow border-0 p-2 p-md-5 mb-3">
            <i class="bi bi-truck-front-fill"></i><span class="fw-medium text-decoration-none">PESADOS Y ÁRIDOS</span>
            <h5>Habilitación Comercial</h5>
            <ul>
                <li>ÁRIDOS Y MATERIALES DE CONTRUCCION</li>
                <li>TRANSPORTE DE CARGAS  - VOLQUETES - SERVICIO DE GRÚA</li>
            </ul>  
        </div>
    </div>
  
      <div id="pan" class="my-3">               
          <div class="card  shadow border-0 p-2 p-md-5 mb-3">
            <i class="bi bi-shop-window "></i><span class="fw-medium text-decoration-none">SUSTANCIAS Y PANIFICADOS</span>
              <h5>Habilitación Comercial</h5>
              <ul>
                  <li>Transporte de Sustancias Gral.</li>
                  <li>Transporte de Panificados </li>
              </ul>  
          </div>
      </div>

      <div id="delivery" class="my-3">               
        <div class="card  shadow border-0 p-2 p-md-5 mb-3">
            <i class="bi bi-bicycle mx-4"></i><span class="fw-medium text-decoration-none">DELIVERY Y LOGÍSTICA</span>
            <h5>Habilitación Comercial</h5>
            <ul>
                <li>Delivery</li>
                <li>Distribución y Logística</li>
            </ul>  
        </div>
    </div>
  
      <div id="rent" class="my-3">               
          <div class="card  shadow border-0 p-2 p-md-5 mb-3">
            <i class="bi bi-car-front-fill mx-4"></i><span class="fw-medium text-decoration-none">RENT A CAR</span>
              <h5>Habilitación Comercial</h5>
              <ul>
                  <li>Requisitos</li>
                  <li>Valores
                    <ul>
                        <li>Con Local: $150000</li>
                        <li>Sin Local: $2000000</li>
                    </ul> 
                  </li>
              </ul>  
          </div>
      </div>



     <!-- faqa -->
            <!-- faqs toggle -->
            <div class="row py-4">
              <div class="container-fluid">
                  <h2><strong>PREGUNTAS FRECUENTES</strong></h2>
                  <div class="row d-flex align-items-center">
                    <div class="col-md-8 pe-md-5">
                      <div class="accordion mt-3 border-0 shadow" id="accordionExample">
                        <div class="accordion-item w-100 py-3">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="white-space: normal;">
                              <strong>¿Cuánto vale la habilitación comercial de remis?</strong></button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              El valor de la habilitación comercial para los taxis o remises varía según la ordenanza tarifaria vigente. En este momento el precio es de <strong>$<a class="text-black text-decoration-none"  id="hc-remis">140000</a></strong>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item w-100 py-3">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="white-space: normal;">
                              <strong>¿Cuántos años puede tener un vehículo para obtener la habilitación comercial de transporte de pasajeros?</strong>
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Según las ordenanzas vigentes, para que un vehículo pueda ser habilitado para el transporte de pasajeros, el mismo debe de ser posterior al año <strong>2016</strong>. 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item w-100 py-3">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="white-space: normal;">
                              <strong>¿Cuánto vale la transferencia de la habilitación de taxi o remis?</strong>        </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              El valor de la transferencia de propietario de la habilitación comercial para los taxis o remises varía según la ordenanza tarifaria vigente. En este momento el precio es de <strong>$<a class="text-black text-decoration-none" id="transferencia-remis">200000</a></strong>
                            </div>
                          </div>
                        </div>
                        
                
                        <div class="accordion-item w-100 py-3">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6" style="white-space: normal;">
                              <strong>¿Cómo puedo obtener ayuda adicional para la habilitación de mi vehículo?</strong></button>
                          </h2>
                          <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Si tienes preguntas adicionales o necesitas asistencia personalizada, no dudes en visitarnos en la <strong>Dirección de Transporte de El Bolsón de lunes a viernes de 8.30hs a 13.30 hs</strong> o comunicarte con nosotros a través del número 4498966 o vía correo electrónico a nuestro <a href="mailto:transitoytransporteelbolson@gmail.com" target="_blank">e-mail</a> para recibir orientación y apoyo personalizados. 
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item w-100 py-3">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7" style="white-space: normal;">
                                <strong>¿Cómo se obtiene el Libre de Infracción?</strong></button>
                            </h2>
                            <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                Muchos de nuestros trámites requieren que presentes el certificado de Libre de Infracción. Tendrás que dirigirte al Juzgado de Faltas de El Bolsón (Perito Moreno 3560)
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-3 ms-md-5 pt-4">
                      <img src="https://elbolson.gob.ar/clon/images/faqs.png" class="img-fluid" height=200 />
                    </div>
                
                  </div>
                </div>
          </div>

          


    <!-- contacto -->
    <div class="row align-items-center py-5 mx-2"><div class="col-md-6 d-flex justify-content-center my-2">

      <div class="card border-0 rounded shadow p-md-5 p-3 pt-3">
      <h4 class="mt-3 text-primary ">INFORMACIÓN </h4>
      <h5 class="mb-3 text-primary pb-3">Dirección de Transporte</h5>
      <p> <i class="bi bi-geo-alt-fill me-2"></i> 25 de Mayo esquina Roca </p><p> <i class="bi bi-telephone-fill me-2"> </i> 4498-966 </p> <p><i class="bi bi-calendar-check me-2"></i>Lunes a viernes de 8.30 hs a 13.30 hs</p><p>  <i class="bi bi-envelope-fill me-2"></i> transitoytransporteelbolson@gmail.com</p>
      </div>
      </div>
      <div class="col-md-6  my-2 d-flex justify-content-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2966.679159585255!2d-71.53498812484347!3d-41.96422598244609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961bbfce21ea5add%3A0x5a54a0385aef4a27!2sGeneral%20Roca%20%26%2025%20de%20Mayo%2C%20El%20Bols%C3%B3n%2C%20R%C3%ADo%20Negro%2C%20Argentina!5e0!3m2!1ses-419!2sbe!4v1710469662119!5m2!1ses-419!2sbe" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>


          <!-- js -->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
          <script src="https://www.google-analytics.com/analytics.js"></script>
          <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

          
          
          <script>
                      $(document).ready(function () {
                        $("#pasajerosButton").on("click", function (event) {
                          event.preventDefault();
                          scrollToSection("#pasajeros");
                        });
                      
                        $("#cargasButton").on("click", function (event) {
                          event.preventDefault();
                          scrollToSection("#cargas");
                        });
                      
                        $("#pesadoButton").on("click", function (event) {
                          event.preventDefault();
                          scrollToSection("#pesado");
                        });
                        $("#panButton").on("click", function (event) {
                          event.preventDefault();
                          scrollToSection("#pan");
                        });
                        $("#deliveryButton").on("click", function (event) {
                          event.preventDefault();
                          scrollToSection("#delivery");
                        });
                        $("#rentButton").on("click", function (event) {
                          event.preventDefault();
                          scrollToSection("#contacto");
                        });
                      
                      
                        function scrollToSection(sectionId) {
                          var targetOffset = $(sectionId).offset().top;
                          $("html, body").animate({ scrollTop: targetOffset }, 1000);
                        }
                      });
                      </script>
          <script>
            // Función para obtener el número de visitantes
            function obtenerNumeroDeVisitantes() {
              // ID de seguimiento de Google Analytics
              var trackingId = 'G-GHL08J5CD0'; // 
          
              // Llamada a la API de Google Analytics para obtener el número total de visitantes
              gapi.client.load('analytics', 'v3', function() {
                var request = gapi.client.analytics.data.ga.get({
                  'ids': 'ga:' + trackingId,
                  'metrics': 'ga:users'
                });
          
                request.execute(function(response) {
                  // Muestra el número de visitantes en un elemento h1
                  document.getElementById('numero_de_visitantes').innerText = response.totalsForAllResults['ga:users'];
                });
              });
            }
          
            // Llama a la función cuando la página se carga
            window.onload = function() {
              obtenerNumeroDeVisitantes();
            };
          </script>

          
  

          