{% extends 'page/layout/base.html' %}
{% block 'title' %} Página no encontrada {% endblock %}

{% block 'body' %}

<main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center text-center">
        <img src="/static/img/logo.png" class="img-fluid py-5" alt="Page Not Found">

        <h2>Ups! Parece que la página que estás buscando no existe.</h2>
        <a class="btn btn-success my-4" href="{% url 'index' %}">Volver al inicio</a>
      </section>

    </div>
</main>

{% endblock %}