<div class="fp-features">
    <div class="g-grid">
        <div class="g-block size-33-3">
            <div class="card">
                <div class="card-block">
                    <a href="https://elbolson.gob.ar/index.php/servicios/comercio" class="text-decoration-none"><i class="fas fa-shopping-basket" style="font-size: 65px; padding-bottom: 20px;"></i></a>
                    <h5 class="card-title"  style="color: white;"><a  style="color: white;" href="https://elbolson.gob.ar/index.php/servicios/comercio" class="text-decoration-none">Comercio</a></h5>
                   
                </div>
            </div>
        </div>
        <div class="g-block size-33-3">
            <div class="card">
                <div class="card-block"><a href="https://www.turismoelbolson.gob.ar/" class="text-decoration-none">
                    <i class="fas fa-mountain " style="font-size: 65px; padding-bottom: 20px;"></i></a>
                    <h5 class="card-title" style="color: white;"><a href="https://www.turismoelbolson.gob.ar/" class="text-decoration-none" style="color: white;">Turismo</a></h5>
                </div>
            </div>
        </div>
        <div class="g-block size-33-3">
            <div class="card">
                <div class="card-block"><a class="text-decoration-none" href="https://elbolson.gob.ar/concejo">
                    <i class="fas fa-balance-scale " style="font-size: 65px; padding-bottom: 20px;"></i></a>
                    <h5 class="card-title" style="color: white;"><a class="text-decoration-none" href="https://elbolson.gob.ar/concejo" style="color: white;">Concejo Deliberante</a></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="g-grid">
        <div class="g-block size-33-3">
            <div class="card">
                <div class="card-block">
                    <a href="https://elbolson.gob.ar/index.php/servicios/transporte" class="text-decoration-none"><i class="fas fa-bus"  style="font-size: 65px; padding-bottom: 20px;"></i></a>
                    <h5 class="card-title"  style="color: white;"><a  style="color: white;" href="https://elbolson.gob.ar/index.php/servicios/transporte" class="text-decoration-none">Transporte</a></h5>
                   
                </div>
            </div>
        </div>
        <div class="g-block size-33-3">
            <div class="card">
                <div class="card-block"><a href="https://www.municipalidad.com/elbolson/deuda" class="text-decoration-none">
                    <i class="fas fa-file-invoice-dollar" style="font-size: 65px; padding-bottom: 20px;"></i></a>
                    <h5 class="card-title" style="color: white;"><a href="https://www.municipalidad.com/elbolson/deuda" class="text-decoration-none" style="color: white;">Pago de Tasas</a></h5>
                </div>
            </div>
        </div>
        <div class="g-block size-33-3">
            <div class="card">
                <div class="card-block"><a class="text-decoration-none" href="https://www.instagram.com/cultura_elbolson/">
                    <i class="fas fa-theater-masks" style="font-size: 65px; padding-bottom: 20px;"></i></a>
                    <h5 class="card-title" style="color: white;"><a class="text-decoration-none" href="https://www.instagram.com/cultura_elbolson/" style="color: white;" target="_blank">Cultura</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>