

<div class="container-fluid">
    <h4 class="my-5">Viajá Seguro</h4>

    <div class="row d-flex flex-row-reverse m-auto align-items-center justify-content-center">
        
        <div class="col-md-6">
            
            <h3 class="mt-5"><strong>REMISES PILTRI</h3>
            <p><strong>CELULAR:</strong> 2944-965-522</p>
            <p><strong>FIJO:</strong> 4492-272</p>

            <h3 class="mt-5"><strong>REMISES MAXI</strong></h3>
            <p><strong>CELULAR:</strong> 2944-619-103</p>
            <p><strong>FIJO:</strong> 4455-400</p>

            <h3 class="mt-5"><strong>REMISES LA TERMINAL 68</strong></h3>
            <p><strong>CELULAR:</strong> 2944-618-330</p>
            <p><strong>FIJO:</strong> 4720-120</p>

            <h3 class="mt-5"><strong> REMISES FRANS</strong></h3>
            <p><strong>CELULAR:</strong> 2944-348-323</p>
            <p><strong>FIJO:</strong> 4439-041</p>

            <h3 class="mt-5"><strong>TAXIS</strong></h3>
            <p><strong>REFERENTE:</strong> MANSILLA, MIGUEL </p>
            <p><strong>CELULAR:</strong> 2944-694-264</p>
           
        </div>

        <div class="col-md-6">
            <img src="https://elbolson.gob.ar/images/viaja_seguro.jpg
            " height="70">

        </div>

    </div>
</div>

