{% extends 'page/layout/base.html' %}

{% load static %}
{% block 'title' %}| Prensa {% endblock %} 
{% block 'content' %}
<!-- Pagina del detalle de búsqueda de tags de Artículos de Prensa -->

    <div class="container my-4">

        <form method="GET" action="{% url 'prensa' %}" class="form-inline my-3 my-lg-0">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-5">
                <li class="breadcrumb-item "><a class="text-decoration-none text-secondary" href="{% url 'index' %}"><i class="bi bi-house-door-fill"></i> <strong>Inicio</strong></a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none text-secondary" href="{% url 'prensa' %}"><strong>Prensa</strong></a></li>
                
                {% if tag %}
                <li class="breadcrumb-item active" aria-current="page">   {{ tag }} </li>

                {% endif %}
            </ol>
        </nav>

        
        <div class="row pb-5">


            <div class="col-md-8 mb-4">
                {% if articulos %}
                <div class="row">

                    {% for article in articulos  %}
                    <!-- Artículo {{ article.id }} -->
                    
                    <div class="col-md-6 mb-4 px-2">
                        <div class="card" style="height: 100%;">

                    
                            <img {% if article.image_top %} src="{{ article.image_top.url }}" {% else %} {% if article.image_bottom %} src="{{ article.image_bottom.url }}" {% else %} src="{% static 'img/logo.png' %}"{% endif %}{% endif %} class="card-img-top p-1" alt="{{ article.titulo }} Municipalidad de El Bolsón">

                            <div class="card-body">
                                <h5 class="card-title"> <a href="{{ article.get_absolute_url }}" >{{ article.titulo }}</a></h5>
                                <p class="text-extra-small mt-3"> <i class="bi bi-calendar-week pe-2"></i> Publicado el {{ article.fecha }}</p>
                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        
                <!-- PAGINATION -->
                {% if articulos.has_other_pages %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center my-3">
                        {% if articulos.has_previous %}
                        <li class="page-item">
                            <a class="page-link bg-green" href="?q={{ request.GET.q }}&page={{ articulos.previous_page_number }}" tabindex="-1"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for page_num in articulos.paginator.page_range %}
                        {% if articulos.number == page_num %}
                        <li class="page-item active"><a class="page-link bg-green">{{ page_num }}</a></li>
                        {% elif page_num > articulos.number|add:'-3' and page_num < articulos.number|add:'3' %}
                        <li class="page-item"><a class="page-link bg-green"
                                href="?q={{ request.GET.q }}&page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if articulos.has_next %}
                        <li class="page-item">
                            <a class="page-link bg-green" href="?q={{ request.GET.q }}&page={{ articulos.next_page_number }}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                
                {% else %}
                    <div class="card m-2">
                        <div class="card-body">
                            <h3 class="card-title">Ups</h4>
                            <p class="card-text">No se han podido encontrar artículos para esta búsqueda.</p>
                            <hr>
                        </div>
                    </div>
                {% endif %}
            </div>
        
            <div class="col-md-3 ms-3">
                <div class="container-fluid">   
                    {% if last %}
    
                    <div class="row">   
                        <h5>ÚLTIMAS NOTICIAS</h5>
                        <hr>
                        {% for article in last %}
                        <div class="row">
                            <div class="col-2 pe-0 pe-3 d-flex flex-row-reverse">
                                <i class="bi bi-file-earmark-text-fill"></i> 
                            </div>
                            <div class="col-10 ps-0 me-0">
                                <p><a class="text-decoration-none text-secondary" href="{{article.get_absolute_url}}">
                                    {{ article.titulo }}
                                </a></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                
                    {% if tags %}
                    <div class="row my-5">                 
                        <h5>TAGS</h5>
                        <hr>
                        {% for tag in tags %}
                            <a class="text-decoration-none mx-1" href="{% url 'tag' slug=tag.slug %}"><span class="badge rounded-pill text-bg-success">{{tag.nombre}}<span></a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
    
    </div>

    
    


{% endblock %}